<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=gra-web5;Initial Catalog=XpertEquine;User ID=Webuser;Password=W3L0gin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--SALES API
    <add key="SalesOrder.navSalesOrder" value="http://gra-nav:7347/DynamicsNAV80/WS/Equibrand Products Group/Page/navSalesOrder"/>
    <add key="SalesAPI.navSalesAPI" value="http://gra-nav:7347/DynamicsNAV80/WS/Equibrand Products Group/Codeunit/navSalesAPI"/> -->
	  
     <!--TEST BC / LIVE API-->
      <add key="SalesAPI.navSalesAPI" value="http://gra-bc14:7047/BC14/WS/Equibrand Products Group/Codeunit/navSalesAPI"/>
      <add key="SalesOrder.navSalesOrder" value="http://gra-bc14:7047/BC14/WS/Equibrand Products Group/Page/navSalesOrder"/>

    <!--LIVE NAV API
    <add key="SalesAPI.navSalesAPI" value="http://gra-nav:7347/DynamicsNAV80/WS/Equibrand Products Group/Codeunit/navSalesAPI"/>
    <add key="SalesOrder.navSalesOrder" value="http://gra-nav:7347/DynamicsNAV80/WS/Equibrand Products Group/Page/navSalesOrder"/>-->
	  
	  
    <add key="MailServer" value="DAL-SMTP1.CLASSIC"/>
    <add key="MailUsername" value="classic\webmail"/>
    <add key="MailPassword" value="9Cl@ss1c!#"/>
    <add key="SiteName" value=""/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="MailFrom" value="jdjohnson@equibrand.com"/>
    <add key="CustomerServiceEmail" value="customerservice@equibrand.com"/>
	<add key="CustomerService" value="cjmurphy@myhorsesport.com"/>
    <add key="OrderProcessorEmail" value="mstone@equibrand.com"/>
    <add key="ErrorLogEmail" value="lgarza@equibrand.com"/>
    <add key="SupplierEmail" value="jdjohnson@equibrand.com"/>
    <add key="Shopping_Button" value="true"/>
    <add key="ShoppingCartSaveDays" value="5"/>
    <add key="LogInDays" value="1"/>
    <!--<add key="CustomerMessages" value="assistance@jimedwardsbits.com" />-->
    <add key="CustomerMessages" value="lgarza@equibrand.com"/>
    <!--<add key="EmailTemplates" value="C:\Home\Jim Edwards\Emails\" />-->
    <add key="EmailTemplates" value="C:\Home\XpertEquine\Emails\"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.5"/>
  </system.web>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <sessionState timeout="1"/>
    <!--<pages controlRenderingCompatibilityVersion="4.5"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>